* {
    padding: 0;
    margin: 0;
    color: black;
}
#porfolio {
    height: 40px;
    background-color: aqua;
    padding-top: 10px;
    font-size: 30px;
}
#logo {
    height: 30px;
    background-color: aquamarine;
}
button {
   border-color:pink;
   border-radius: 20px;
   border: 5px;
background-color: pink
}
a {
    margin-right: 180px;
    text-decoration: none;
}
