/* .myClass {
    color:blue;
}

h4 {
    color: red;
}

#myId {
    background-color: rgb(133, 26, 26);
    color: white;
}

body {
    background-color: aquamarine;
} */

/* .box {
    height: 100px;
    width: 100px;
    margin-bottom: 2px;
    border: 1px solid grey;
    background-color: aquamarine;
}

.Aquamarine.Box {
    height: 100px;
    width: 100px;
    margin-bottom: 2px;
    border: 1px solid grey;
    background-color: aquamarine;
    text-align: center;
}

.Blue.Box {
    height: 100px;
    width: 100px;
    margin-bottom: 2px;
    border: 1px solid grey;
    background-color: blue;
    text-align: center;
}
.Red.Box {
    height: 100px;
    width: 100px;
    margin-bottom: 2px;
    border: 1px solid grey;
    background-color: red;
    text-align: center;
} */

/* Lecture 7 */

/* #box {
    width: 100px;
    height:250px;
    background-color: mediumslateblue;
    color: azure;
    border: 1px solid blue;
} */

/* .paragraph {
color: red;
}

.content {
    background-color: blueviolet;
} */